.Header
{
  background-color: grey;
  font-family:Harrington;
  color: Orange;
  font-size: 40px;
  height:150px;
  width:100%;
  position: fixed;
  top: 0;
}

.Image
{
  float: left;
  display: inline-block;
}

.Biodata
{
  font-size: 40px;
}

.body
{
  background color:gold;
  padding-top: 80px;
  padding-left: 24px;
  width:1300px;
  margin:auto;
}

.Marquee
{
  background-color:black;
  color:orange;
  font-size: 25px;
  font-family:Harrington;
  padding-left: 24px;
  width:1300px;
}

.Form
{
  font-weight: bold;
  color:grey;
  font-family: Century Gothic;
  font-size: 25px;
  }

.MyContacts
{
  padding-left: 24px;
  width:1300px;
  width: 100%;
}

.Footer
{
  font-size: 25px;
  font-family: Batang;
  color:orange;
  background-color:black;
  font-style: oblique;
  height:90px;
  width:100%;
  padding-left: 24px;
  width:1300px;
}

.Portfoliotitle
{
  float:right;
  position:absolute;
}
